# Default configuration is required and will be loaded first. Model-specific configurations will override default settings when provided.

default:
  validation:
    num_samples: 1000
    step_num: best # "best", "latest" or step_number:integer are available
  test:
    num_samples: 753
    step_num: best # "best", "latest" or step_number:integer are available
  max_new_tokens: 1536

checkpoints:
  num_samples: 1000
  models:
    - llama-32-11b
    - qwen-25-3b
    - qwen-25-7b
    - crnn-base-3m

replications:
  num_iterations: 100
  models:
    - model: qwen-25-3b
      checkpoint: best
    - model: llama-32-11b
      checkpoint: best
    - model: qwen-25-7b
      checkpoint: best
    - model: crnn-base-3m
      checkpoint: best
    - model: qwen-25-3b
      checkpoint: 106000
    - model: llama-32-11b
      checkpoint: 21000
    - model: qwen-25-7b
      checkpoint: 57000
